.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 100px;
}

.App-header {
  background-color: rgb(185, 218, 40);
  height: 150px;
  padding: 10px;
  color: rgb(204, 28, 28);
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
